{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>




.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: bold;
}

.total {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
}

.checkout-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color:saddlebrown;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: saddlebrown;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  
  .table {
    font-size: 14px;
  }
  
  .checkout-btn {
    font-size: 16px;
  }
  
  .container {
    padding: 10px;
  }
  
  /* Hide table header on small screens */
  .table thead {
    display: none;
  }
  
  /* Show table data as block elements */
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  
  /* Set vertical alignment for table data */
  .table td {
    text-align: right;
    padding: 5px;
  }
  
  /* Add borders between table data */
  .table td:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  /* Add spacing between table rows */
  .table tr + tr {
    margin-top: 10px;
  }
}

</style>
<div class="container">
  <h1 style="visibility: hidden;">Your Cart</h1>
  <h2 class="mt-5"><i class="fas fa-heart">Whish List</i></h2>
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Chicken Biryani</td>
        <td>$6</td>
        <td>1</td>
        <td>$6</td>
      </tr>
      <tr>
        <td>Pasta</td>
        <td>$12</td>
        <td>1</td>
        <td>$12</td>
      </tr>
      <tr>
        <td>Pizza</td>
        <td>$18</td>
        <td>1</td>
        <td>$18</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'lg' %}" class="checkout-btn">Add to Cart</a>



{% endblock %}
